@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Whisky-Auswahl";
}

<h2>Whisky-Auswahl</h2>

<p>Wähle hier den Whisky aus, den du verkosten möchtest</p>

<select name="Whiskys">
    <option>Laphroaig 10 yo</option>
    <option>Glenmorangie Lasanta</option>
    <option>Benromach Organic</option>
</select>

